{% extends parent_template|default:"organizer/base_organizer.html" %}
{% block title%}
{{ block.super }} - Startups
{% endblock %}


{% block content%}

<h2>Startup List</h2>
<ul>
    {% for startup in startup_list %}
         <li>
            <a href="{% url 'organizer:startup_detail' startup.slug%}">
            {{ startup.name }}</a>
        </li>
        <li>
             <a href="{{ startup.get_update_url }}">
             Edit Startup</a>
        </li>
        <li>
             <a href="{{ startup.get_delete_url }}">
             Delete Startup</a>
        </li>
    {% empty %}
        <li><em>No Startups Available</em></li>
    {% endfor %}
</ul>
    <div>
        <a href="{% url 'organizer:startup_create' %}">
        Create New Startup </a>
    </div>

{% endblock %}
