{% extends parent_templates|default:"organizer/base_organizer.html" %}

{% block title %}
    {{ block.super }} - Create Tag
{% endblock %}

{% block content %}
    <form action="{% url 'organizer:tag_create' %}" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.name.errors }}
        <p>
            <label for="id_name">Name:</label>
            {{ form.name }}
            <input id="id_name" maxlength="31" name="name" type="text"/>
        </p>

        {{ form.slug.errors }}
        <p>
            <label for="id_slug">Slug:</label>
            {{ form.slug }}
            <input id="id_slug" maxlength="31" name="slug" type="text"/>
            <span class="helptext">
                {{ form.slug.help_text }}
            </span>
        </p>
        <button type="submit">Create Tag</button>
    </form>
{% endblock %}